# secrets

DJANGO_SECRET_KEY=''
GOOGLE_MAPS_API_KEY=''
openai_api_key=''
openai_api_type='azure'
openai_api_base=''
openai_api_version='2023-07-01-preview'
openai_deployment_name = ''
SUPER_USER = ''
SUPER_USER_PASSWORD = ''
TRANSFORMER_MODEL = '.elser_model_2_linux-x86_64'

ELASTIC_CLOUD_ID=''
ELASTIC_USER=''
ELASTIC_PASSWORD=''
ELASTIC_API_KEY=''
KIBANA_URL=''