aiohappyeyeballs==2.4.0
aiohttp==3.9.1
aiosignal==1.3.1
amqp==5.2.0
annotated-types==0.6.0
ansible==6.5.0
ansible-core==2.13.5
anyio==4.2.0
asgiref==3.7.2
async-timeout==4.0.3
attrs==23.1.0
background-tasks==0.0.1
beautifulsoup4==4.12.3
billiard==4.2.0
bleach==6.1.0
boto3==1.34.5
botocore==1.34.5
cachelib==0.10.2
certifi==2023.11.17
cffi==1.15.1
charset-normalizer==3.3.2
click==8.1.7
click-didyoumean==0.3.0
click-plugins==1.1.1
click-repl==0.3.0
contourpy==1.2.0
cryptography==38.0.1
cycler==0.12.1
dataclasses-json==0.6.3
distro==1.8.0
Django==4.2.7
django-environ==0.11.2
django-health-check==3.18.2
django-markdownify==0.9.3
ecs-logging==2.1.0
eland==8.12.0
elastic-apm==6.22.0
elastic-transport==8.13.0
elasticsearch==8.14.0
exceptiongroup==1.2.0
filelock==3.15.1
Flask==2.2.2
Flask-Cors==3.0.10
Flask-HTTPAuth==4.8.0
Flask-Session==0.5.0
fonttools==4.47.2
frozenlist==1.4.0
fsspec==2024.6.0
gevent==24.2.1
googlemaps==4.10.0
greenlet==3.0.3
gunicorn==22.0.0
h11==0.14.0
hashring==1.5.1
httpcore==1.0.2
httpx==0.26.0
huggingface-hub==0.23.4
idna==3.6
itsdangerous==2.1.2
Jinja2==3.1.2
jmespath==1.0.1
joblib==1.3.2
jsonpatch==1.33
jsonpointer==2.4
kibana-api==0.0.4
kiwisolver==1.4.5
kombu==5.3.4
langchain==0.2.15
langchain-community==0.2.15
langchain-core==0.2.37
langchain-text-splitters==0.2.1
langsmith==0.1.108
Markdown==3.6
MarkupSafe==2.1.5
marshmallow==3.20.1
matplotlib==3.8.2
memcache==0.12.0
mimesis==11.1.0
mpmath==1.3.0
multidict==6.0.4
multipledispatch==1.0.0
mypy-extensions==1.0.0
networkx==3.3
nltk==3.8.1
numpy==1.26.2
openai==0.27.4
orjson==3.10.5
packaging==23.2
pandas==1.5.3
pillow==10.2.0
prompt-toolkit==3.0.41
psycopg2-binary==2.9.9
pycparser==2.21
pydantic==2.5.2
pydantic_core==2.14.5
pyparsing==3.1.2
pypdf==3.11.0
python-dateutil==2.8.2
python-dotenv==1.0.0
pytz==2024.1
PyYAML==6.0.1
random-address==1.1.1
regex==2023.12.25
requests==2.31.0
resolvelib==0.5.4
s3transfer==0.9.0
safetensors==0.4.3
scikit-learn==1.4.0
scipy==1.12.0
sentence-transformers==2.2.2
sentencepiece==0.2.0
six==1.16.0
sniffio==1.3.0
soupsieve==2.6
SQLAlchemy==2.0.23
sqlparse==0.4.4
sympy==1.12.1
tenacity==8.2.3
threadpoolctl==3.2.0
tiktoken==0.6.0
tinycss2==1.2.1
tokenizers==0.19.1
torch==2.3.1
torchvision==0.14.1
tqdm==4.65.0
transformers==4.41.2
typing-inspect==0.9.0
typing_extensions==4.8.0
tzdata==2023.3
urllib3==2.0.7
vine==5.1.0
wcwidth==0.2.12
webencodings==0.5.1
Werkzeug==2.3.6
wrapt==1.14.1
yarl==1.9.2
zope.event==5.0
zope.interface==6.4.post2
