{% extends 'base.html' %}
{% block title %}Transactions{% endblock %}
{% block content %}
{% load markdownify %}
<h2 class="display-5">Your spending trends</h2>

<div class="row align-items-top">
    <div class="col-4">
        <ul class="list-group">
            {% for category in categories %}
                <li class="list-group-item">{{ category.name }}: ${{ category.total_value }}</li>
            {% endfor %}
        </ul>
    </div>
    <div class="col-8">

        <form method="post">
            {% csrf_token %}
            <div class="form-check form-switch">
              <input class="form-check-input" type="checkbox" name="interested" role="switch" id="flexSwitchCheckChecked" checked>
              <label class="form-check-label" for="flexSwitchCheckChecked">Click here if you want to see the products and services best suited to your spending habits.</label>
            </div>
            <button class="btn btn-primary" type="submit">Submit</button>
        </form>
        {% if answer %}
            <pre></pre>
            <div class="card">
                <div class="row card-body">
                    <div class="col-2">
                        <img src="/media/robot.jpg" alt="Logo" width="100" class="d-inline-block align-text-top">
                    </div>
                    <div class="col-10">
                        <div class="speech-bubble">
                            {{ answer|markdownify }}
                        </div>
                    </div>

                </div>
            </div>
        {% endif %}
        {% if transaction_list %}
            <pre></pre>
             <div class="accordion rounded shadow-lg" id="transaction_list">
                 <div class="accordion-header">
                     <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTransactions" aria-expanded="false" aria-controls="collapseTransactions">
                       Supporting transactions
                     </button>
                     <div id="collapseTransactions" class="accordion-collapse collapse" data-bs-parent="#offer_summary">
                         <div class="accordion-body">
                            <ul class="list-group">
                                {% for i in transaction_list %}
                                <li class="list-group-item">{{ i.offer_name }}:  {{ i.transaction_description }} -- {{ i.score }}</li>
                                {% endfor %}
                            </ul>
                         </div>
                     </div>
                 </div>
             </div>
        {% endif %}
    </div>
</div>

{% endblock %}