{% extends 'base.html' %}
{% block title %}Transactions{% endblock %}
{% block content %}
{% load markdownify %}

<h2 class="display-5">Natural language search</h2>
<div class="row align-items-top">
<form method="post" action="/onlinebanking/search">
    {% csrf_token %}
    <div>
        <input type="text" width="100" placeholder="Filter your transactions using natural language like: 'household expenses'" name="search_term" id="search_term" required class="form-control">
    </div>
    <pre></pre>
    <button type="submit" class="btn btn-primary">Search</button>
</form>
<pre></pre>
</div>

{% if results %}
    <div class="row align-items-top">
        <div class="col-5">
            <p>
                You searched your transaction history for <strong>"{{ search_term }}"</strong>
                Ask our financial assistant agent any question about these transactions:
            </p>
        </div>
        <div class="col-7">
            <div class="row align-items-top">
                <form method="post" action="/onlinebanking/search">
                    {% csrf_token %}
                    <div>
                        <input type="text" placeholder="Ask your question here" name="question" id="question" required class="form-control">
                        <input type="hidden" name="search_term" value="{{ search_term }}">
                    </div>
                    <pre></pre>
                    <button type="submit" class="btn btn-primary">Ask the agent</button>
                </form>
                <pre></pre>
            </div>
        </div>
    </div>
    {% if answer %}
        <pre></pre>
        <div class="card">
            <div class="row card-body">
                <div class="col-2">
                    <img src="/media/robot.jpg" alt="Logo" width="100" class="d-inline-block align-text-right">
                </div>
                <div class="col-10">
                    {% if question %}
                        <p>
                            <em>You asked:</em> "{{ question }}"
                        </p>
                    {% endif %}
                    <div class="speech-bubble">
                        {{ answer|markdownify }}
                    </div>
                </div>

            </div>
        </div>
    {% endif %}
<pre></pre>
    <div class="container text-left">
        <table class="head fs-6 fw-light">
            <thead>
                <th scope="col" width="10%">Date</th>
                <th scope="col" width="20%">Account</th>
                <th scope="col">Description</th>
                <th scope="col" width="10%">Value</th>
                <th scope="col" width="10%">Opening balance</th>
                <th scope="col" width="10%">Closing balance</th>
            </thead>
            <tbody class="table-hover align-top">
                {% for r in results %}
                <tr>
                    <td>{{ r.transaction_date }}</td>
                    <td>{{ r.bank_account_number }}</td>
                    <td>{{ r.description }}</td>
                    <td>{{ r.transaction_value }}</td>
                    <td>{{ r.opening_balance }}</td>
                    <td>{{ r.closing_balance }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endif %}
{% endblock %}