{% extends 'base.html' %}
{% block title %}Home{% endblock %}
{% block content %}
{% if view_name == 'create' %}
    <div class="containertext-left">
        <div class="row align-items-top">
            <div class="card-body">
                Please confirm that the following will be generated:
                <pre></pre>
                <ul class="list-group">
                    <li class="list-group-item">Number of customers: {{ form_data.number_of_customers }}</li>
                    <li class="list-group-item">Number of months: {{ form_data.number_of_months }}</li>
                    <li class="list-group-item">Minimum transactions per day: {{ form_data.transaction_minimum }}</li>
                    <li class="list-group-item">Maximum transactions per day: {{ form_data.transaction_maximum }}</li>
                </ul>
            </div>
        </div>
        <pre></pre>
        <div class="row align-items-top">
            <div class="card-body">
            <form method="post" action="{% url 'command' %}">
                {% csrf_token %}
                <input type="number" name="number_of_customers" value="{{form_data.number_of_customers}}" hidden>
                <input type="number" name="number_of_months" value="{{form_data.number_of_months}}" hidden>
                <input type="number" name="transaction_minimum" value="{{form_data.transaction_minimum}}" hidden>
                <input type="number" name="transaction_maximum" value="{{form_data.transaction_maximum}}" hidden>
                <input type="text" name="command_name" value="generate_data" hidden>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
            </div>
        </div>
    </div>
{% endif %}
{% endblock %}