{% extends 'base.html' %}
{% block title %}Home{% endblock %}
{% block content %}
    {% if ping %}
        <div class="container">
            <h5>Cluster connection successful with the following response:</h5>
            <ul class="list-group">
                <li class="list-group-item">{{ es.name }}</li>
                <li class="list-group-item">{{ es.cluster_name }}</li>
                <li class="list-group-item">{{ es.cluster_uuid }}</li>
                <li class="list-group-item">{{ es.version.number }}</li>
                <li class="list-group-item">{{ es.tagline }}</li>
            </ul>
        </div>
    {% else %}
        <h5>Unable to connect to Elasticsearch, please validate your credentials</h5>
    {% endif %}
{% endblock %}