{% extends 'base.html' %}
{% block title %}Home{% endblock %}
{% block content %}
<div class="containertext-left">
    <div class="row align-items-top">
      <div class="card-body">
          {% if record_count > 0 %}
            <p class="lead">
                Please confirm that the following will be exported to Elasticsearch:
            </p>
            <pre></pre>
            <ul class="list-group">
                <li class="list-group-item">Number of transactions: {{ record_count }}</li>
            </ul>
            <pre></pre>
            <p class="lead">Please note that this can take a long time. <b>Don't click twice.</b></p>
          {% else %}
            <h5>All records have been imported.</h5>
          {% endif %}
      </div>
    </div>
    <pre></pre>
    <div class="row align-items-top">
      <div class="card-body">
      <form method="post" action="{% url 'export' %}">
          {% csrf_token %}
          <input type="text" name="command_name" value="elastic_export" hidden>
          <button type="submit" class="btn btn-primary">Export</button>
      </form>
      </div>
    </div>
    {% if streaming_content != 0 %}
        <div class="row align-items-top">
            <div class="card-body">
            {% for line in streaming_content %}
                {{ line|safe }}
            {% endfor %}
            </div>
        </div>
    {% endif %}
</div>
{% endblock %}