{% extends 'base.html' %}
{% block title %}Home{% endblock %}
{% block content %}
 <div class="container">
     <h5>Based on the .env file configuration, your knowledge base is captured as: {{ knowledge_base }}</h5>
     <p>
         In order to use this index for RAG it needs to be reprocessed into smaller chunks of content and passed through an inference pipeline.<br>
         If you have executed this operation before, clicking the button below will delete and start afresh, generating a new instance of {{ processed_kb_index }}.<br>
         Your existing web crawler index will be processed into this new index with smaller content batches.

        <form method="post" action="{% url 'knowledge_base' %}">
            {% csrf_token %}
            <input type="text" name="command_name" value="execute" hidden>
            <button type="submit" class="btn btn-primary">Execute pipeline config and knowlege_base setup</button>
        </form>
     </p>
 </div>
{% endblock %}